# ReSharper meta directory
*ReSharper*

#ncrunch
*.ncrunchsolution

# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj
output

# user settings
*.user
*.suo

# if you have pictures, windows will likely create those annoying index files
Thumbs.db

# mstest test results
TestResults
.svn
log.txt

*.orig
*.Publish.xml
*.gpstate

combined_*.css
combined_*.js

aspnet_client

packages/*
!packages/repositories.config